@use '../../SASS/keyframes';

.feature-page {
    background-color: #702880;
    width: 100vw;
    height: 100%;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    font-weight: 600;
}

.feature-tiles {
    width: 100vw;
    height: 75vh;
    display: grid;
    grid-template-columns: 50% 50%;
    align-items: center;
    justify-items: center;
}

.bear-image {
    height: 80%;
    width: 80%;
     &:hover {
        cursor: pointer;
        transform: scale(1.1);
        border: whitesmoke solid 6px;
        border-radius: 10%;
        transition: all 0.3s;
        
        // background-image: url('../../Assets/Bears/bw-mood.jpg');
    }

    &:focus {
        cursor: pointer;
        transform: scale(1.1);
        border: whitesmoke solid 6px;
        border-radius: 10%;
        transition: all 0.3s;
    }
}

.slide-right {
	-webkit-animation: slide-right 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-right 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

.slide-left {
	-webkit-animation: slide-left 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: slide-left 0.75s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

// .bear-hover {
//     width: 30px;
// }

// .overlay {
//     position: absolute;
//     // top: 0;
//     // left: 0;
//     // right: 0;
//     // bottom: 0;
//     // opacity: 0;
//     transition: opacity 0.4s ease-in-out;
//     background: black;
//     cursor: pointer;
// }

// .content {
//     position: absolute;
//     // top: 50%;
//     // left: 50%;
//     transform: translate(-50%, -50%);
//     color: white;
//     text-align: center;
// }

// container:hover .overlay {
//     opacity: 0.8s
// }


//This block of code would add words on hover. They do not consistenly show up unfortunately so I thought it would be best to revisit.
// .feature-title {
//     opacity: 0;
//     transition: all 0.3s;
//     &:hover {
//         opacity: 1;
//     }

//     &:focus {
//         opacity: 1;
//     }
// }

.dashboard-btn-section {
    border: 5px yellow solid;
    width: 100vw;
    height: 25vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

button {
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    font-weight: 600;
    width: 200px;
    height: 65px;
    box-shadow: none;
    border: 3px white solid;
    border-radius: 10%;
    background-color: #f7e1e9;

    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        border: pink solid 6px;
        border-radius: 10%;


    }

    &:focus {
        cursor: pointer;
        transform: scale(1.1);
        border: pink solid 6px;
        border-radius: 10%;

    }
}
