.journal-page {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../../Assets/4198173.jpg');
    font-family: 'Montserrat', sans-serif;
    font-weight: 600;

}

.journal-page > h4 {
    width: 65vw;
    padding: 20px;
    background-color: whitesmoke;
    color: #40f765;
    font-weight: 600;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    opacity: 0.7;
}


.journal-page > form {
    width: 69vw;
    margin: 2%;
    text-align: center;
    display: flex;
    flex-direction: column;

}

textarea {
    border: none;
    border-radius: 10px;
    padding: 10px;
    color: #40f765;
    opacity: 0.7;
    &::placeholder{
      color: #40f765;
    }
}
form > a {
  text-decoration: none;
  border: dotted 3px #40f765;;
  border-radius: 10px;
  padding: 5px;
  color: rgb(255, 255, 255);
  &:hover {
    color: #40f765;;
    border: dotted 3px white;
  }
}
