@use '../../SASS/keyframes';

.dashboard-page {
    background-image: url('../../Assets/sky.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 600;
    overflow: auto;
}

.dashboard-page > h2 {
    font-family: 'Montserrat', sans-serif;
    color: black;
    font-weight: 600;
    font-size: x-large;
}

.dashboard-quote {
    // font-style: italic;
    width: 70vw;
    height: 10%;
    padding: 2%;
    margin-top: 1em;
    color: whitesmoke;
    font-weight: 300;
    display: flex;
    background-color:  rgba(95,28,115,0.3);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    text-shadow: 3px 4px 5px rgba(0,0,0,0.56);
}

.stats-section {
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    &:article {
        background-color: whitesmoke;
        color: black;
        width: 15%;
        height: 15%;
    }
}

.mood-card > h4 {
    margin-bottom: 5%;
    color: whitesmoke;
}
