@use '../../SASS/keyframes';

.dashboard-page {
    background-image: url('../../Assets/sky.jpg');
    background-size: cover;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: black;
    font-weight: 600;
    overflow: auto;
}

// .nav-container {
//     width: 100%;
//     display: grid;
//     grid-template-columns: 50% 50%;
// }
// .welcome {
//     color: whitesmoke;
//     text-shadow: 3px 4px 5px rgba(0,0,0,0.56);
// }


// .nav-section {
//     display: flex;
//     flex-direction: row;
//     justify-content: space-evenly;
//     margin-top: 1em;
//     color: black;
//     font-weight: 600;
//     font-size: x-large;
// }

// .bear-logo {
//     display: flex;
//     justify-content: flex-end;
//     margin-right: 2%;
// }

// .bear-face {
//     width: 15%;
// }

.dashboard-quote {
    width: 70vw;
    height: 10%;
    padding: 1%;
    margin-top: 2em;
    color: whitesmoke;
    font-weight: 300;
    display: flex;
    background-color:  rgba(95,28,115,0.3);
    border-radius: 30px;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 2em;
    text-shadow: 3px 4px 5px rgba(0,0,0,0.56);
}

.stats-section {
    margin-top: 1em;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    &:article {
        background-color: whitesmoke;
        color: black;
        width: 15%;
        height: 15%;
    }
}

.mood-card > h4 {
    margin-bottom: 5%;
    color: whitesmoke;
}
