@use '../../SASS/keyframes';

.mood-page {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100vw;
    height: 100vh;
    background-image: url('../../Assets/808heart.png');
    background-size: cover;
    background-color: #CBDFDF;
    font-family: 'Montserrat', sans-serif;
    color: whitesmoke;
    
    // -webkit-text-stroke: .01px white;
    font-weight: 600;
    font-size: xx-large;
}

.kanye-mood{
  width: 250px;
}

.vibes {
  text-shadow: 2px 1px 0  red;
  font-size: 1.6em;
}

.feeling {
  text-shadow: 2px 1px 0  red;
  font-size: 1.4em;
}

.mood-page > a {
  text-decoration: none;
  border: dotted 3px red;
  border-radius: 10px;
  padding: 5px;
  color: rgb(255, 255, 255);
  &:hover {
    color: red;
    border: dotted 3px white;
    text-shadow: 2px 1px 0  whitesmoke;
  }
}

.roll-in-left {
  width: 250px;
	-webkit-animation: roll-in-left 1s ease-out both;
	        animation: roll-in-left 1s ease-out both;
}

