
.hamburger-menu {
    display: flex;
    flex-direction: column;
    // align-items: center;
    // width: 6em;
    // padding: 8%;
    // border: 2px solid yellow;
    // background-color:  rgba(95,28,115,0.3);
    // border-radius: 30px;
}

.dropdown-items {
    color: black;
    text-align: center;
    width: 6.3em;
    padding: 6%;
    background-color:  rgba(95,28,115,0.3);
    border-radius: 30px;
    margin-bottom: 4%;
    text-decoration: none;
}
