
.hamburger-menu {
    display: flex;
    flex-direction: column;
}

.dropdown-items {
    color: black;
    text-align: center;
    width: 6.3em;
    padding: 6%;
    background-color:  rgba(95,28,115,0.3);
    border-radius: 30px;
    margin-bottom: 4%;
    text-decoration: none;
    &:hover {
        cursor: pointer;
        transform: scale(1.09);
        transition: 0.3s all;
    }
}
