.journal-container {
    width: 100vw;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 2%;
    grid-row-gap: 5%;
    align-items: center;
    justify-items: center;
    box-sizing: border-box;
    padding-bottom: 4%;
}

.no-entries {
    color: whitesmoke;
    margin-left: 20px;
    text-shadow: 3px 4px 5px rgba(0,0,0,0.56);
    margin-top: 4%;
}
