.mood-container {
    margin: 3% 0 3% 0;
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
}

.mood-container > article > img {
    width: 50%;
    -webkit-filter: drop-shadow(10px 11px 5px  rgba(0,0,0,0.56));
    filter: drop-shadow(10px 11px 5px rgba(0,0,0,0.56));
}

.mood-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}