.mood-container {
    margin: 3% 0 3% 0;
    width: 90vw;
    display: flex;
    justify-content: space-evenly;
}

.mood-container > article > img {
    width: 50%;
}

.mood-card {
    display: flex;
    flex-direction: column;
    align-items: center;
}