.nav-container {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.nav-section {
    display: flex;
    flex-direction: row;
    font-weight: 600;
    font-size: x-large;
    width: 50%;
    padding: 20px;
}

.welcome {
    color: whitesmoke;
    margin-left: 20px;
    text-shadow: 3px 4px 5px rgba(0,0,0,0.56);
    font-size: 1.5em;

}

.bear-logo {
    display: inline-block;
    position:relative;
    width: 80px;
    height:80px;
    margin: 1%;

    &:hover {
        cursor: pointer;
        transform: scale(1.2);
        transition: 0.3s all;
    };

    &:focus {
        transform: scale(1.2);
        transition: 0.3s all;
    }
}

.bear-face {
    width: 100%;
     -webkit-filter: drop-shadow(10px 11px 5px  rgba(0,0,0,0.56));
    filter: drop-shadow(10px 11px 5px rgba(0,0,0,0.56));

}

.burger-button {
    margin-left: 1%;
    background-color: transparent;
    height: 1em;
    border: none;
}

.burger-icon {
    width: 2.5em;
    &:hover {
        cursor: pointer;
        transform: scale(1.1);
        transition: 0.3s all;
    }
}

.rotate-center:hover {
	-webkit-animation: rotate-center 10s ease-in-out both;
	        animation: rotate-center 10s ease-in-out both;
}

.menu {
  position: absolute;
  margin-top: 50px;
}
